# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env
.env.*

# Node / React
client/node_modules/
client/build/

# .NET build
server/bin/
server/obj/

# User-specific files
*.user
*.suo

# Secrets (IMPORTANT)
server/appsettings.Development.json
server/secrets.json

# React env
client/.env

# Database files
server/*.db
server/*.sqlite

# Keep main config
!server/appsettings.json